---
development:
  FB_TOKEN: <YOUR FACEBOOK ACCESS TOKEN>
  YT_TOKEN: <YOUR YOUTUBE ACCESS TOKEN>
  YUMMLY_ID: <YOUR YUMMLY APP ID>
  YUMMLY_KEY: <YOUR YUMMLY APP KEY>
test:
  FB_TOKEN: <YOUR FACEBOOK ACCESS TOKEN>
  YT_TOKEN: <YOUR YOUTUBE ACCESS TOKEN>
  YUMMLY_ID: <YOUR YUMMLY APP ID>
  YUMMLY_KEY: <YOUR YUMMLY APP KEY>
