---
development:
  FB_TOKEN: <YOUR FACEBOOK ACCESS TOKEN>
  YT_TOKEN: <YOUR YOUTUBE ACCESS TOKEN>
  AWS_ACCESS_KEY_ID: <aws credentials>
  AWS_SECRET_ACCESS_KEY: <aws credentials>
  AWS_REGION: <aws credentials>
  CLONE_QUEUE: <aws sqs queue>
  CLONE_QUEUE_URL: <aws sqs queue url>
test:
  FB_TOKEN: <YOUR FACEBOOK ACCESS TOKEN>
  YT_TOKEN: <YOUR YOUTUBE ACCESS TOKEN>
  AWS_ACCESS_KEY_ID: <aws credentials>
  AWS_SECRET_ACCESS_KEY: <aws credentials>
  AWS_REGION: <aws credentials>
  CLONE_QUEUE: <aws sqs queue>
  CLONE_QUEUE_URL: <aws sqs queue url>
