---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/RecipesAndCookingGuide
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e11c2d680629f370378e47ab318ef3da0b5644f1"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Recipes And Cooking Guide","id":"236017159909583"}'
  recorded_at: Tue, 24 Oct 2017 13:04:38 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/olcooker
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: olcooker"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"(#803) Some of the aliases you requested do not
        exist: olcooker","type":"OAuthException","code":803,"fbtrace_id":"BmKKTV6mStn"}}'
  recorded_at: Tue, 24 Oct 2017 13:04:38 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/236017159909583/posts?fields=full_picture,created_time,message,reactions.type(LIKE).limit(0).summary(total_count).as(reactions_like),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_love),reactions.type(WOW).limit(0).summary(total_count).as(reactions_wow),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_haha),reactions.type(SAD).limit(0).summary(total_count).as(reactions_sad),reactions.type(ANGRY).limit(0).summary(total_count).as(reactions_angry)
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cd709de87164182410c6d5ce38f8863dcbf22924"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"full_picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-9\/s720x720\/22549988_838682866309673_4515799997223981961_n.jpg?oh=a1b2b9e8d8a08d980ca7f370cae6df74&oe=5A81F09F","created_time":"2017-10-24T13:00:00+0000","message":"Made
        these last night. My husband loved them!! He said he hoped we would be having
        them again. :)\n\nWhite Chicken Enchiladas\n\n8-10 flour tortillas, soft taco
        size\n2 cups cooked, shredded chicken (I used half of a rotisserie chicken)\n2
        cups shredded Monterey Jack cheese\n\nFull Recipe : http:\/\/www.usrecipe.com\/2016\/07\/white-chicken-enchiladas.html","reactions_like":{"data":[],"summary":{"total_count":4}},"reactions_love":{"data":[],"summary":{"total_count":0}},"reactions_wow":{"data":[],"summary":{"total_count":0}},"reactions_haha":{"data":[],"summary":{"total_count":0}},"reactions_sad":{"data":[],"summary":{"total_count":0}},"reactions_angry":{"data":[],"summary":{"total_count":0}},"id":"236017159909583_838682916309668"},{"full_picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-9\/22554994_838682546309705_8711218499705060623_n.jpg?oh=f8af6ae174beabe9a91e6e5da11b0774&oe=5A61CFE7","created_time":"2017-10-24T11:00:00+0000","message":"Cheesecake
        Crescent Rolls~YUM\n\n2 cans of Pillsbury Crescent rolls\n2 8oz packages cream
        cheese, softened\n1 1\/2 tsp vanilla\n1\/4 cup butter, melted\nCinnamon\nSugar\n\nFull
        Recip[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/236017159909583
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e11c2d680629f370378e47ab318ef3da0b5644f1"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Recipes And Cooking Guide","id":"236017159909583"}'
  recorded_at: Tue, 24 Oct 2017 13:04:39 GMT
recorded_with: VCR 3.0.3
