---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/RecipesAndCookingGuide
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth sad_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"G+5ffUX\/cTM"}}'
  recorded_at: Thu, 09 Nov 2017 03:00:06 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/RecipesAndCookingGuide
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e11c2d680629f370378e47ab318ef3da0b5644f1"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Recipes And Cooking Guide","id":"236017159909583"}'
  recorded_at: Thu, 09 Nov 2017 03:00:06 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/236017159909583/posts?fields=full_picture,created_time,message,reactions.type(LIKE).limit(0).summary(total_count).as(reactions_like),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_love),reactions.type(WOW).limit(0).summary(total_count).as(reactions_wow),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_haha),reactions.type(SAD).limit(0).summary(total_count).as(reactions_sad),reactions.type(ANGRY).limit(0).summary(total_count).as(reactions_angry)
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"57a35ec12a50fc637abe5510840012468c8256f0"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"full_picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-9\/23376617_847893918721901_5595871906239029084_n.jpg?oh=167ca6f4d1a1d65a9836a684c90a3144&oe=5A9D4A5B","created_time":"2017-11-09T02:20:01+0000","message":"Southern
        Fried Chicken and Gravy Recipe\n2 eggs\n2 tablespoons milk\n1 1\u20444 cups
        all-purpose flour\n1 1\u20442 teaspoons pepper\n1\u20444 teaspoon ground cumin\n1\u20444
        teaspoon dried oregano\n\nPlease say something when you see the recipe! Saying
        ANYthing is good, it helps you continue seeing my posts! Thank you!\n\nFull
        recipe : In the first comment","reactions_like":{"data":[],"summary":{"total_count":101}},"reactions_love":{"data":[],"summary":{"total_count":13}},"reactions_wow":{"data":[],"summary":{"total_count":0}},"reactions_haha":{"data":[],"summary":{"total_count":0}},"reactions_sad":{"data":[],"summary":{"total_count":0}},"reactions_angry":{"data":[],"summary":{"total_count":0}},"id":"236017159909583_847894198721873"},{"full_picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-9\/s720x720\/23244511_847892978721995_5318173270564161019_n.jpg?oh=f909f30c34117c7d78e9999203b93a81&oe=5A6508A6","created_time":"2017-11-09T01:01:17+0000","message":"Please
        say something when you see the recipe! Saying ANYthing\nis good, it helps
        you continue seeing my posts! Thank you!\n\nHershey S\u2019mores Cupcakes\n\nIngredients
        :\[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Chicken%20and%20Broccoli%20Stir%20fry
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/ZM0IOHCW8tEDdBV1zVk3zNkQ1lc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/ZM0IOHCW8tEDdBV1zVk3zNkQ1lc\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/qT0HbdwTs5sTKlfIIzNsq5WdItw\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "tRadAJLsrmc"
           },
           "snippet": {
            "publishedAt": "2016-03-16T16:14:57.000Z",
            "channelId": "UClcWrXNVItYUqoExg_Y86AA",
            "title": "How to Make the Best Chicken and Broccoli Chinese Stir Fry Recipe ~ Healthy Chinese Cooking",
            "description": "We just love Chinese chicken and broccoli and this is a Classic Chinese meal. In this recipe video I will show you how to make easy and HEALTHY chicken and ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Tess Cooks 4u",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/lwhL5gUUIUZLmRsmJuIYwWx0_E4\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "_md2Hp1UCeo"
           },
           "snippet": {
            "publishedAt": "2012-12-05T22:57:14.000Z",
            "channelId": "UCtjlTbeLELCuJU0o8AF2qtA",
            "title": "Wok Cooking Stir-fry Chicken with Broccoli Recipe / World of Flavor"[...]
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/olcooker
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: olcooker"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"(#803) Some of the aliases you requested do not
        exist: olcooker","type":"OAuthException","code":803,"fbtrace_id":"E+sSYrkaIWp"}}'
  recorded_at: Thu, 09 Nov 2017 03:00:13 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/236017159909583/posts?fields=full_picture,created_time,message,reactions.type(LIKE).limit(0).summary(total_count).as(reactions_like),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_love),reactions.type(WOW).limit(0).summary(total_count).as(reactions_wow),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_haha),reactions.type(SAD).limit(0).summary(total_count).as(reactions_sad),reactions.type(ANGRY).[...]
[...]
