---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/RecipesAndCookingGuide
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e11c2d680629f370378e47ab318ef3da0b5644f1"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Recipes And Cooking Guide","id":"236017159909583"}'
  recorded_at: Thu, 19 Oct 2017 16:41:50 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/236017159909583/posts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"15638a12f2d417da492561cd61f353cfa46127ef"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"created_time":"2017-10-19T16:10:00+0000","message":"Million
        Dollar Pound Cake\nIt''s a classic for a reason and you''ll understand the
        title million dollar after one taste! The cake recipe is always a crowd-pleaser!\n\nPlease
        say something when you see the recipe! Saying ANYthing is good, it helps you
        continue seeing my posts! Thank you!\n\nFull recipe : http:\/\/allneweasyrecipes.blogspot.com\/2016\/09\/million-dollar-pound-cake.html","id":"236017159909583_837441423100484"},{"created_time":"2017-10-19T15:10:00+0000","message":"I
        love this Turtle Cake recipe. I''ve tried many and this one has it all; moist,
        decadent, delicious, chocolately goodness. It''s great for a crowd because
        a little bit goes a long way. Love it!\nEasy Homemade Chocolate Turtle Cake
        .\n\n1 cup chocolate chips\n2 cups pecans\n3\/4 cup melted butter\n\nfull
        recipe: http:\/\/cookingsalad4u.blogspot.com\/2016\/02\/easy-homemade-chocolate-turtle-cake.html\n\nPlease
        share& say ANYthing if you see the recipe! It helps you to continue seeing
        my posts! Thank you!","id":"236017159909583_837441129767180"},{"created_time":"2017-10-19T14:17:40+0000","message":"Oven
        Baked fajita\n1 pound boneless, skinless chicken breasts, cut into strips\n2
        Tbsp vegetable oil\n2 tsp chili powder\n1 1\/2 tsp cumin\n1\/2 tsp garlic
        powder\n\nPle[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/236017159909583
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e11c2d680629f370378e47ab318ef3da0b5644f1"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Recipes And Cooking Guide","id":"236017159909583"}'
  recorded_at: Thu, 19 Oct 2017 16:41:51 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/olcooker
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: olcooker"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"(#803) Some of the aliases you requested do not
        exist: olcooker","type":"OAuthException","code":803,"fbtrace_id":"G7fMEGSMMQI"}}'
  recorded_at: Thu, 19 Oct 2017 16:41:51 GMT
recorded_with: VCR 3.0.3
