---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Chicken%20and%20Broccoli%20Stir%20fry
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/z1RSiPzFmTqjrafpW0HXdu9imRA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/z1RSiPzFmTqjrafpW0HXdu9imRA\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 987876,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/qT0HbdwTs5sTKlfIIzNsq5WdItw\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "tRadAJLsrmc"
           },
           "snippet": {
            "publishedAt": "2016-03-16T16:14:57.000Z",
            "channelId": "UClcWrXNVItYUqoExg_Y86AA",
            "title": "How to Make the Best Chicken and Broccoli Chinese Stir Fry Recipe ~ Healthy Chinese Cooking",
            "description": "We just love Chinese chicken and broccoli and this is a Classic Chinese meal. In this recipe video I will show you how to make easy and HEALTHY chicken and ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Tess Cooks 4u",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/lwhL5gUUIUZLmRsmJuIYwWx0_E4\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "_md2Hp1UCeo"
           },
           "snippet": {
            "publishedAt": "2012-12-05T22:57:14.000Z",
            "channelId": "UCtjlTbeLELCuJU0o8AF2qtA",
            "title": "Wok Cooking Stir-fry Chicken with Broccoli Recipe / World of Flavor"[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/RecipesAndCookingGuide
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e11c2d680629f370378e47ab318ef3da0b5644f1"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Recipes And Cooking Guide","id":"236017159909583"}'
  recorded_at: Sun, 29 Oct 2017 14:42:08 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/236017159909583/posts?fields=full_picture,created_time,message,reactions.type(LIKE).limit(0).summary(total_count).as(reactions_like),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_love),reactions.type(WOW).limit(0).summary(total_count).as(reactions_wow),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_haha),reactions.type(SAD).limit(0).summary(total_count).as(reactions_sad),reactions.type(ANGRY).limit(0).summary(total_count).as(reactions_angry)
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"aeffdc5b5c6596c072d5324046121a61d8241e7c"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"full_picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-9\/22728765_840864812758145_2016157969437334334_n.jpg?oh=b5af5d3cfe7165cd06f3929b208ffb90&oe=5A641A03","created_time":"2017-10-29T13:00:00+0000","message":"CRUNCHY
        HONEY GARLIC PORK CHOPS: AND YOU CAN USE CHICKEN\n\n6-9 pork chops (not too
        thick, you can use boneless pork loin)\n2 eggs\n4 Tbs water\n2 cups flour\n\nFull
        Recipe : http:\/\/www.usrecipe.com\/2016\/07\/crunchy-honey-garlic-pork-chops-and-you.html","reactions_like":{"data":[],"summary":{"total_count":113}},"reactions_love":{"data":[],"summary":{"total_count":9}},"reactions_wow":{"data":[],"summary":{"total_count":2}},"reactions_haha":{"data":[],"summary":{"total_count":0}},"reactions_sad":{"data":[],"summary":{"total_count":0}},"reactions_angry":{"data":[],"summary":{"total_count":0}},"id":"236017159909583_840864842758142"},{"full_picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-9\/22894118_842192302625396_1970170195644426258_n.jpg?oh=3df02f9c000137951ad6539aba6721ae&oe=5AA8CAB9","created_time":"2017-10-29T12:30:00+0000","message":"Crab
        & cream cheese snacks\n\nTasty appetizer to treat your friends! Be sure to
        share to keep it i...n your virtual recipe file!\n\nPlease say something when
        you see the recipe! Sayi[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/olcooker
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: olcooker"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"(#803) Some of the aliases you requested do not
        exist: olcooker","type":"OAuthException","code":803,"fbtrace_id":"HtlWahs1NIX"}}'
  recorded_at: Sun, 29 Oct 2017 14:42:09 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/Recipes%20And%20Cooking%20Guide/posts?fields=full_picture,created_time,message,reactions.type(LIKE).limit(0).summary(total_count).as(reactions_like),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_love),reactions.type(WOW).limit(0).summary(total_count).as(reactions_wow),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_haha),reactions.type(SAD).limit(0).summary(total_count).as(reactions_sad),reactions.type(ANGRY).limit(0).summary(total_count).as(reactions_angry)
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <FACEBOOK_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Www-Authenticate:
      - 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: Recipes And Cooking Guide"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"(#803) Some of the aliases you requested do not
        exist: Recipes And Cooking Guide","type":"OAuthException","code":803,"fbtrace_id":"FbufXIZpYuG"}}'
  recorded_at: Wed, 01 Nov 2017 17:01:48 GMT
recorded_with: VCR 3.0.3
