---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Chicken%20and%20Broccoli%20Stir%20fry
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/V3Hatdpm7terCyPTLUcNZ2Rqd7Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/V3Hatdpm7terCyPTLUcNZ2Rqd7Y\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 966661,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/qT0HbdwTs5sTKlfIIzNsq5WdItw\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "tRadAJLsrmc"
           },
           "snippet": {
            "publishedAt": "2016-03-16T16:14:57.000Z",
            "channelId": "UClcWrXNVItYUqoExg_Y86AA",
            "title": "How to Make the Best Chicken and Broccoli Chinese Stir Fry Recipe ~ Healthy Chinese Cooking",
            "description": "We just love Chinese chicken and broccoli and this is a Classic Chinese meal. In this recipe video I will show you how to make easy and HEALTHY chicken and ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/tRadAJLsrmc/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Tess Cooks 4u",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/lwhL5gUUIUZLmRsmJuIYwWx0_E4\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "_md2Hp1UCeo"
           },
           "snippet": {
            "publishedAt": "2012-12-05T22:57:14.000Z",
            "channelId": "UCtjlTbeLELCuJU0o8AF2qtA",
            "title": "Wok Cooking Stir-fry Chicken with Broccoli Recipe / World of Flavor"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=hastalavista&part=snippet&q=Chicken%20and%20Broccoli%20Stir%20fry
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Wed, 01 Nov 2017 03:34:48 GMT
recorded_with: VCR 3.0.3
