---
http_interactions:
- request:
    method: get
    uri: https://api.yummly.com/v1/api/recipes
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Yummly-App-Id:
      - "<YUMMLY_ID>"
      X-Yummly-App-Key:
      - "<YUMMLY_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - d29d74af-5943-42f0-b840-c00f7d7c05d9
    body:
      encoding: UTF-8
      string: '{"criteria":{"q":null,"allowedIngredient":null,"excludedIngredient":null},"matches":[{"imageUrlsBySize":{"90":"https://lh3.googleusercontent.com/k3GH0XY7SgGgtiGrR86HD-YtXX0mtg6gJLJPA125xMhp4-cQ2ZpUm6pyObpbRvH9PNy4-LRr-ceAO6GWk6Cm5g=s90-c"},"sourceDisplayName":"Faithfully
        Free","ingredients":["butter","cream cheese","sugar","salt","vanilla","eggs","cake
        flour"],"id":"Cream-Cheese-Pound-Cake-2261322","smallImageUrls":["https://lh3.googleusercontent.com/cYDZoSHMClCwXn9riwQ4kwQfRxytr6mNvcNly8bFljlo1h9EKEdo_roW3lg5e7N0gZkGq1093Lwe9x0wQBvXrKA=s90"],"recipeName":"Cream
        Cheese Pound Cake","totalTimeInSeconds":5100,"attributes":{"course":["Desserts"]},"flavors":{"piquant":0.0,"meaty":0.6666666666666666,"bitter":0.16666666666666666,"sweet":0.8333333333333334,"sour":0.0,"salty":0.5},"rating":4},{"imageUrlsBySize":{"90":"https://lh3.googleusercontent.com/2ee1M5ndeLMBxNEBfDu_0dVv9oqBpIjE7YzR55sP1PdGxXshW-tFU7KtdfF177U4bDtBSnHBn8Cf8ydOcSlyPA=s90-c"},"sourceDisplayName":"The
        Pioneer Woman","ingredients":["russet potatoes","salt","butter","sour cream","heavy
        cream","freshly ground pepper"],"id":"Mashed-Potatoes-2266580","smallImageUrls":["https://lh3.googleusercontent.com/Nsgg1gWOvSsUZ9WF41pSMN-9RPcYLuirAIf_xnUmqW9jHQSSm2FtHBMWdx-6f1RrAUXUW19Tw78r4mYPbG7burM=s90"],"recipe[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Cream%20Cheese%20Pound%20Cake
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/llfNB4ArCX_2iB3eDFdWACrpvN4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/llfNB4ArCX_2iB3eDFdWACrpvN4\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/CeOcv9kicLDEYZF8ZIURlGbZxPo\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "4FNDFbxmCRg"
           },
           "snippet": {
            "publishedAt": "2013-04-18T13:30:56.000Z",
            "channelId": "UCFjd060Z3nTHv0UyO8M43mQ",
            "title": "Cream Cheese Pound Cake Recipe Demonstration - Joyofbaking.com",
            "description": "Recipe here: http://www.joyofbaking.com/CreamCheesePoundCake.html Stephanie Jaworski of Joyofbaking.com demonstrates how to make Cream Cheese ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/4FNDFbxmCRg/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/4FNDFbxmCRg/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/4FNDFbxmCRg/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Joy of Baking",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/b-7DqVN7YQ992JDY6WT2NHuyJKM\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "jLWr75-LigM"
           },
           "snippet": {
            "publishedAt": "2017-10-07T08:00:03.000Z",
            "channelId": "UCs9MqrsC3XI47q5uEhyS4ig",
            "title": "Super Easy Cream Cheese Pound Cake",
            "description": "Thi[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Mashed%20Potatoes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/cDLY3lpQOADN2NqM2w9ZMxnOGhM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Overnight%20Oats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/SUQYKMyG5UXX_klbT8dgATEDxs4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Lightened%20Up%20Skillet%20Cornbread
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/ftHK4ZmCAlQHRKie3ACgTpRvekE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Cream%20Cheese%20Pound%20Cake&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/XkX7tqentVaRz_tM9tfvQ3Fyf3w"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
    [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Mashed%20Potatoes&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/K3mdyRtYsneNm4UEs2WsyVXcgf4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Overnight%20Oats&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/KCplOt1ETen8iHisJTumYT6-yb4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Lightened%20Up%20Skillet%20Cornbread&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/4vDHrI7SVnf9eTjOnZSZN-Ek5xY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Pumpkin%20Flan&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/HZO6uTs5dxX7zNJQyrMQ4TuWLUU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Perfect%20Rib%20Eye%20Roast&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/Q8F7jdM7fdTaQel0jgcAroAOWOE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Baked%20Apple%20Pie%20Roll%20Ups&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/CF3IRS5mGb1W3ujbOrQzC9hf3Qg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
 [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Eggs%20in%20Hash%20Brown%20Nests&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/gWXkcoSOiHw17g3ilbNIe1oaeqk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
 [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Home-Style%20Meatloaf&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/uxyeLVuqMh-scA1B1K2mJc-HBP0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
  [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Spicy%20Ethiopian%20Lentil%20Stew&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/pHSJdF_DBqXeW3cfZ3gaEFTKavU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Cream%20Cheese%20Pound%20Cake&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/GZTocPU5yANLArE7We9-iTYYhI4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      e[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Mashed%20Potatoes&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/dhlXyrtCB0uQs7R2hL3eGWJkB0M"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Overnight%20Oats&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/QfDpDH9PPOe_3aPSE8Ow5fR7saQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Lightened%20Up%20Skillet%20Cornbread&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:39:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Pumpkin%20Flan&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/UAi40ASHPOEs2OtlkFp9L21GfSE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Perfect%20Rib%20Eye%20Roast&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:39:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Baked%20Apple%20Pie%20Roll%20Ups&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/289ao1183uIh96zB3C1jS1pKlHg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Eggs%20in%20Hash%20Brown%20Nests&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:39:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Home-Style%20Meatloaf&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/hxzfqXBzKPC1vgN4En8zv9JhxF0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding:[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&part=snippet&q=Spicy%20Ethiopian%20Lentil%20Stew&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/wtPJ8wkCyhjyFL4kZkeLFwwBJcI\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:39:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?%20%20%20%20%20%20%20%20channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet%20%20%20%20%20%20%20%20&q=Cream%20Cheese%20Pound%20Cake&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html lang=en>
          <meta charset=utf-8>
          <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
          <title>Error 400 (Bad Request)!!1</title>
          <style>
            *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}
          </style>
          <a href=//www.google.com/><span id=logo aria-label=Google></span></a>
          <p><b>400.</b> <ins>That’s an error.</ins>
          <p>Your client has issued a malformed or illegal request.  <ins>That’s all we know.</ins>
  recorded_at: Thu, 23 Nov 2017 05:42:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Cream%20Cheese%20Pound%20Cake&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/_WmSMZtUax-BG6CJlhKXl4MJBY0"'
      Content-Type:
      - application/json; charset=UTF-8
   [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Mashed%20Potatoes&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/tSfplp5Oqx6chP0AWkUqJvLbMtA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
     [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Overnight%20Oats&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/wkI0XPyPZs6aXWg_KNNk-Z8LwGg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Lightened%20Up%20Skillet%20Cornbread&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 10
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:42:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Pumpkin%20Flan&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/jEH6HeeaamNlQi4LT9bDaOQcBB0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      en[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Perfect%20Rib%20Eye%20Roast&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 10
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:42:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Baked%20Apple%20Pie%20Roll%20Ups&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/A-Q1l-yBegs9TFmL8jrXTYYdTRc"'
      Content-Type:
      - application/json; charset=UTF-8
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Eggs%20in%20Hash%20Brown%20Nests&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 10
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:42:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Home-Style%20Meatloaf&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/ZucjZzMKLQcQLrT_qLgWaviPBEY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
 [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&q=Spicy%20Ethiopian%20Lentil%20Stew&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ld9biNPKjAjgjV7EZ4EKeEGrhao/LiyHO1SfQD4QUuLFt-AwTMdyOLw\"",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 10
         },
         "items": []
        }
  recorded_at: Thu, 23 Nov 2017 05:42:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?channelId=UCsWpnu6EwIYDvlHoOESpwYg&chart=mostPopular&id=w1DEbDbsNvU&key=<YOUTUBE_TOKEN>&maxResults=10&part=snippet&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.parameter",
            "reason": "incompatibleParameters",
            "message": "Incompatible parameters specified in the request: id, chart",
            "locationType": "parameter",
            "location": ""
           }
          ],
          "code": 400,
          "message": "Incompatible parameters specified in the request: id, chart"
         }
        }
  recorded_at: Thu, 23 Nov 2017 06:04:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=w1DEbDbsNvU&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/V9_Lji827h2OitcWPmuZDK8sIvA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=JcNn8uFASUc&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/GxOpT1Pij7NfG0pvWjfoPzQmLOg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=Z1DWnzqxekw&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/VNYfsfuz5u06oY3xEhJRTRBg9t8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=mWShj8roSGU&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/9eJzkrIdNkh_EYHNrB_KUtQKKCg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=jfWnyoCbW3c&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ld9biNPKjAjgjV7EZ4EKeEGrhao/JramzVziaTA--QGOJMQpbafu7ds"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#videoListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=7PfA6bnpW6g&key=<YOUTUBE_TOKEN>&part=snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
[...]
